.obsidian
.smart-env
.smtcmp_json_db
workspace/.smtcmp_vector_db.tar.gz
Vault/.smtcmp_vector_db.tar.gz
workspace/.openclaw
.id.txt
workspace/Book-Extract/audiobook_corrected/دكالة_في_عهد_البرتغاليين_مصحح.mp3
workspace/Book-Extract/audiobook/دكالة_في_عهد_البرتغاليين.mp33
workspace/Book-Extract/audiobook/دكالة_في_عهد_البرتغاليين.mp3
